@tailwind base;
@tailwind components;
@tailwind utilities;

.game-setup-container {
    @apply w-full;
    @apply container;
    @apply content-center;
    @apply min-w-full;
    @apply mt-8;
}

.game-setup-form {
    @apply mx-auto;
    @apply z-control-panel;
    @apply bg-primary-300;
    @apply rounded-lg;
    @apply shadow-md;
    @apply p-4;
    @apply w-1/4;
}

.game-setup-room-input {
    @apply flex;
    @apply flex-row;
}

.game-setup-input {
    @apply text-primary-300;
    @apply rounded-md;
    @apply text-base;
    @apply justify-center;
    @apply bg-primary-500;
    @apply pl-1;
    @apply pr-1;
    @apply placeholder-primary-300;
    @apply h-8;
    @apply flex;
    @apply mx-auto;
    @apply grow;
}

.game-setup-user-selection {
    @apply flex;
    @apply flex-row;
    @apply pt-2;
}

.game-setup-button {
    @apply button; 
    @apply w-24;
    @apply h-24; 
    @apply mx-auto;
    @apply font-bold;
    @apply rounded-lg;
    @apply border-4;
    @apply border-primary-600;
}

.game-setup-selected-button {
    @apply game-setup-button;
    @apply bg-secondary-400;
    @apply transition-colors;
    @apply duration-75;
}

.game-setup-user-input {
    @apply pt-2;
    @apply flex;
    @apply flex-row;
}

.game-setup-submit {
    @apply flex;
    @apply flex-row-reverse;
    @apply pt-2;
    @apply mr-4;
}

.control-panel-container {
    @apply basis-1/3;
    @apply z-control-panel;
    @apply absolute;
    @apply top-2 left-2;
    @apply bg-primary-300;
    @apply rounded-lg;
    @apply shadow-md;
    @apply max-h-full;
    @apply overflow-y-auto;
    @apply opacity-100;
}

.control-panel-tools {
    @apply p-2;
    @apply flex;
    @apply flex-row;
}

.control-panel-submenu {
    @apply p-2;
    @apply flex;
    @apply flex-col;
}

.tool-select-view {
    @apply pl-4;
}

.user-tool-view {
    @apply flex;
    @apply flex-row;
}

.map-tool-view {
    @apply flex;
    @apply flex-col;
}

.map-tool-creation {
    @apply flex;
    @apply flex-row;
}

.map-config-collection {
    @apply pt-2;
    @apply mt-2;
}

.map-config {
    @apply text-primary-700;
    @apply text-base;
    @apply border-t-2;
    @apply border-dotted border-primary-700;
    @apply pb-2;
    @apply flex;
    @apply flex-row;
}

.map-config-selected {
    @apply map-config;
    @apply font-bold;
}

.map-config-map-info {
    @apply flex;
    @apply flex-col;
}

.map-config-map-name {
    @apply text-xl;
}

.map-config-map-name-selected {
    @apply map-config-map-name;
    @apply font-bold;
    @apply text-secondary-700;
}

.map-config-map-details {
    @apply flex;
    @apply flex-row;
    @apply h-10;
}

.map-config-map-actions {
    @apply flex;
    @apply flex-row;
}

.token-tool-view {
    @apply flex;
    @apply flex-col;
}

.token-tool-creation {
    @apply flex;
    @apply flex-row;
}

.token-config-collection {
    @apply pt-2;
    @apply mt-2;
}

.token-config {
    @apply text-primary-700;
    @apply text-base;
    @apply border-t-2;
    @apply border-dotted border-primary-700;
    @apply pt-2;
    @apply pb-2;
    @apply flex;
    @apply flex-col;
}

.token-config-selected {
    @apply token-config;
    @apply font-bold;
    @apply text-secondary-700;
}

.token-config-header {
    @apply flex;
    @apply flex-row;
}

.token-config-details {
    @apply flex;
    @apply flex-row;
    @apply pt-2;
}

.tool-control-group {
    @apply flex;
    @apply flex-row;
    @apply pl-4;
}

.control-panel-input {
    @apply text-primary-300;
    @apply rounded-md;
    @apply text-base;
    @apply justify-center;
    @apply bg-primary-500;
    @apply pl-1;
    @apply pr-1;
    @apply placeholder-primary-300;
    @apply m-1;
}

.control-panel-input-selected {
    @apply control-panel-input;
    @apply text-secondary-300;
    @apply font-bold;
}

.control-panel-select {
    @apply text-primary-300;
    @apply rounded-md;
    @apply text-base;
    @apply justify-center;
    @apply bg-primary-500;
    @apply pl-1;
    @apply pr-1;
    @apply placeholder-primary-300;
    @apply m-1;
}

.control-panel-select-selected {
    @apply control-panel-select;
    @apply text-secondary-300;
    @apply font-bold;
}

.chat-panel-container {
    @apply z-chat-panel;
    @apply absolute;
    @apply top-0 right-0;
    @apply bg-primary-300;
    @apply h-screen;
    @apply w-96;
    @apply overflow-hidden;
    @apply flex;
    @apply flex-col;
}

.chat-panel-header {
    @apply ml-6;
    @apply mr-6;
    @apply mt-8;
    @apply pb-2;
    @apply border-b-2;
    @apply border-primary-500;
}

.chat-panel-header-title {
    @apply text-2xl;
    @apply text-primary-800;
}

.chat-panel-header-subtitle {
    @apply text-sm;
    @apply font-bold;
    @apply text-primary-500;
}

.chat-panel-expanded-container {
    @apply z-chat-panel;
    @apply absolute;
    @apply top-2 right-2;
    @apply bg-primary-300;
    @apply rounded-lg;
}

.chat-panel-collapsed-container {
    @apply chat-panel-expanded-container;
    @apply shadow-md;
}

.chat-panel-help-container {
    @apply p-2;
    @apply flex;
    @apply flex-row;
    @apply text-sm;
    @apply fixed;
    @apply top-16;
    @apply right-2;
    @apply rounded-lg;
    @apply bg-primary-300;
    @apply shadow-md;
    @apply border-2;
    @apply border-primary-500;
}

.chat-panel-help-table {
    @apply border-collapse;
    @apply border-primary-500;
    @apply p-1;
}

.chat-panel-help-th {
    @apply border;
    @apply border-primary-600;
}

.chat-panel-help-td {
    @apply border;
    @apply border-primary-700;
}

.chat-panel-header-close {
    @apply p-2;
    @apply flex;
    @apply flex-row-reverse;
}

.chat-panel-users {
    @apply absolute;
    @apply text-left;
    @apply font-extrabold;
    @apply content-center;
    @apply items-center;
    @apply align-middle;
    @apply p-2;
    @apply bg-secondary-200;
    @apply rounded-lg;
    @apply shadow-lg;
    @apply w-5/6;
    @apply mx-auto;
}

.chat-panel-user {
    
}

.chat-panel-content {
    @apply mt-4;
    @apply ml-6;
    @apply mr-6;
    @apply h-full;
    @apply overflow-clip;
    @apply overflow-y-scroll;
}

.chat-panel-message {

}

.chat-panel-message-info {
    @apply flex;
    @apply flex-row;
}

.chat-panel-message-username {
    @apply font-bold;
}

.chat-panel-message-player-info {
    @apply text-primary-500;
    @apply font-bold;
    @apply text-sm;
    @apply pl-1;
    @apply align-text-bottom;
}

.chat-panel-message-content {

}

.chat-panel-command {

}

.chat-panel-command-content {
    @apply text-secondary-600;
    @apply italic;
}

.chat-panel-error {

}

.chat-panel-error-content {
    @apply text-red-700;
    @apply font-bold;
}

.chat-panel-content-bottom {
    @apply h-12;
    @apply bottom-0;
    @apply block;
    @apply relative;
}

.chat-panel-input {
    @apply relative;
    @apply flex;
    @apply flex-row;
    @apply pt-3;
    @apply px-3;
}

.chat-panel-input-input {
    @apply bg-primary-300;
    @apply text-primary-700;
    @apply border-b-2;
    @apply border-primary-500;
    @apply h-8;
    @apply grow;
}

.dice-roll-button-container {
    @apply w-10;
}

.dice-roll-selector-container {
    @apply absolute;
    @apply z-chat-panel-roll;
    @apply border-2;
    @apply rounded-xl;
    @apply shadow-md;
    @apply flex;
    @apply flex-col;
    @apply bg-primary-700;
    @apply text-primary-300;
}

.dice-roll-button {
    @apply button;
    @apply bg-primary-700;
    @apply text-primary-300;
}

.loading-overlay {
    @apply top-0;
    @apply bottom-0;
    @apply w-full;
    @apply h-screen;
    @apply mx-auto;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply content-center;
    @apply items-center;
    @apply fixed;
    @apply bg-primary-800/60;
    @apply z-loading;
    @apply text-primary-300;
}

.loading-task-list {
    @apply text-center;
    @apply content-center;
    @apply text-primary-300;
    @apply font-extrabold;
    @apply text-sm;
    @apply flex;
    @apply flex-col;
    @apply mt-5;
}

.loading-task {
    @apply flex;
    @apply flex-row;
}

.selected-button {
    @apply button;
    @apply text-secondary-600;
}

.button {
    @apply aspect-square;
    @apply bg-primary-300;
    @apply rounded-lg;
    @apply p-1;
    @apply text-primary-600;
    @apply transition-colors;
    @apply duration-75;
}

.selected-button:hover {
    @apply text-secondary-500;
}

.button:hover {
    @apply text-secondary-700;
}

.selected-button:focus {
    
}

.button:focus {
    
}

.selected-button:active {
    @apply text-secondary-400;
}

.button:active {
    @apply text-secondary-600;
}

.tokens-container {
    @apply relative;
}

.token {
    @apply absolute;
}

.token-pc {
    @apply z-pc-div;
}

.token-npc {
    @apply z-npc-div;
}

.token-image {
    @apply relative;
    @apply pointer-events-none;
    @apply rounded-full;
    @apply overflow-hidden;
    @apply mx-auto;
}

.token-image-selected {
    @apply token-image;
    @apply border-dashed;
    @apply border-accent-500;
    @apply border-2;
}

.token-label {
    @apply text-xs;
    @apply bg-primary-300;
    @apply text-primary-700;
    @apply border-2;
    @apply border-primary-500;
    @apply p-1;
    @apply rounded-md;
    @apply fixed;
}

.token-grabbable {
    @apply cursor-grab;
}

.token-dead {
    @apply invert;
    @apply rotate-180;
}

.gone {
    @apply hidden;
}

.passthrough {
    @apply pointer-events-none;
}

.background {
    @apply z-map;
    @apply absolute;
}

.drawing {
    @apply z-drawing;
    @apply absolute;
}

.fog {
    @apply z-fog;
    @apply absolute;
    @apply opacity-100;
}

.overlay {
    @apply z-overlay;
    @apply absolute;
    @apply pointer-events-none;
}

.cursors {
    @apply z-cursors;
    @apply pointer-events-none;
    @apply absolute;
    @apply opacity-75;
    @apply text-sm;
}

.cursor {
    @apply block;
    @apply absolute;
}

.bottom-banner-container {
    @apply z-banner;
    @apply absolute;
    @apply bottom-0;
    @apply w-full;
    @apply block;
    @apply flex;
    @apply flex-row;
    @apply text-xs;
    @apply bg-yellow-300;
    @apply text-primary-700;
}

.bottom-banner-content {
    @apply pl-4;
    @apply pb-2;
    @apply pt-2;
    @apply font-extrabold;
    @apply underline;
    @apply align-middle;
    @apply text-center;
}

.bottom-banner-content :hover {
    @apply text-secondary-400;
}

.bottom-banner-btn {
    @apply right-6;
    @apply absolute;
    @apply h-full;
}

.bottom-banner-action-btn {
    @apply w-6;
    @apply h-6;
}

.color-picker-container {
    @apply fixed;
    @apply bg-primary-300;
    @apply text-primary-700;
    @apply border-2;
    @apply border-primary-500;
    @apply p-1;
    @apply rounded-md;
    @apply flex;
    @apply flex-row;
    @apply flex-wrap;
}

.color-picker-color {
    @apply rounded-full;
    @apply w-8;
    @apply h-8;
    @apply block;
    @apply p-1;
    @apply border;
    @apply border-2;
    @apply border-solid;
    @apply border-primary-300;
}

.color-picker-color-selected {
    @apply color-picker-color;
    @apply border;
    @apply border-2;
    @apply border-solid;
    @apply border-accent-500;
}

.character-stats-view-container {
    @apply flex;
    @apply flex-col;
    @apply space-y-4;
}

.character-stats-view-row {
    @apply flex;
    @apply flex-row;
    @apply space-x-4;
    @apply content-center;
    @apply justify-center;
}

.character-stats-view-row-subgroup {
    @apply flex;
    @apply flex-row;
    @apply space-x-4;
    @apply content-center;
    @apply justify-center;
}

.character-stat-input-container {
    @apply flex;
    @apply flex-col;
    @apply border-4;
    @apply border-accent-900;
    @apply rounded-md;
    @apply justify-items-center;
}

.character-stats-label {
    @apply text-sm;
    @apply align-middle;
    @apply text-center;
    @apply px-1;
    @apply m-1;
}

.character-stats-input {
    @apply text-primary-300;
    @apply rounded-md;
    @apply text-base;
    @apply justify-center;
    @apply bg-primary-500;
    @apply px-1;
    @apply placeholder-primary-300;
    @apply m-1;
    @apply outline-none;
    @apply appearance-none;
    @apply h-8;
}

.character-main-stats-input {
    @apply character-stats-input;
    @apply w-16;
    @apply h-16;
    @apply text-5xl;
    @apply align-middle;
    @apply text-center;
}

.character-stats-modifier-label {
    @apply text-sm;
    @apply font-extrabold;
    @apply align-middle;
    @apply text-center;
    @apply px-1;
    @apply m-1;
    @apply bg-primary-300;
    @apply text-primary-700;
    @apply border-4;
    @apply border-accent-800;
    @apply rounded-md;
    @apply shadow-md;
    @apply -mt-3;
    @apply mx-3;
}

.character-stats-view-select {
    @apply character-stats-input;
}

.select-character-container {
    @apply flex;
    @apply flex-row;
}

.select-character-input-container {
    @apply flex;
    @apply flex-col;
}

.select-character-label {
    @apply text-sm;
}

.select-character-select {
    @apply character-stats-input;
}

.debug-overlay-container {
    @apply flex;
    @apply flex-col;
    @apply text-primary-300;
    @apply text-xs;
    @apply bottom-12;
    @apply left-4;
    @apply z-debug;
    @apply absolute;
}

.debug-overlay-row {
    @apply flex;
    @apply flex-row;
}

.debug-overlay-label {
    @apply font-extrabold;
    @apply underline;
}

.debug-overlay-value {
    @apply italic;
}





@font-face {
    font-family: "Barbaro";
    src: url("./barbaro.ttf");
}

body {
    @apply bg-empty-dark;
}

h1 {
    @apply text-3xl;
    @apply font-extrabold;
    @apply subpixel-antialiased;
    @apply text-center;
    @apply text-accent-medium;
    @apply tracking-wide;
    @apply mb-6;
    @apply font-barbaro;
}

h2 {
    @apply text-2xl;
    @apply font-bold;
    @apply subpixel-antialiased;
    @apply text-center;
    @apply text-text-secondary;
    @apply tracking-wide;
    @apply mb-4;
    @apply font-barbaro;
}

h3 {
    @apply text-xl;
    @apply font-semibold;
    @apply subpixel-antialiased;
    @apply text-center;
    @apply text-text-secondary;
    @apply mb-2;
    @apply font-barbaro;
}

h4 {
    @apply text-2xl;
    @apply font-bold;
    @apply subpixel-antialiased;
    @apply text-center;
    @apply text-text-active;
    @apply tracking-wide;
    @apply mb-4;
    @apply font-barbaro;
}

h5 {
    @apply text-xl;
    @apply font-semibold;
    @apply subpixel-antialiased;
    @apply text-center;
    @apply text-text-active;
    @apply mb-2;
    @apply font-barbaro;
}

a {
    @apply text-accent-medium;
}

a:hover {
    @apply text-accent-light;
}

.borealis-background {
    @apply z-map;
    @apply absolute;
}

.borealis-overlay {
    @apply z-overlay;
    @apply absolute;
    @apply pointer-events-none;
}

.borealis-drawing {
    @apply z-drawing;
    @apply absolute;
}

.borealis-fog {
    @apply z-fog;
    @apply absolute;
    @apply opacity-100;
}

.borealis-passthrough {
    @apply pointer-events-none;
}

.borealis-cursor-layer {
    @apply z-cursors;
    @apply pointer-events-none;
    @apply absolute;
    @apply opacity-75;
    @apply text-sm;
}

.borealis-token-layer {
    @apply relative;
}

.borealis-cursor {
    @apply block;
    @apply absolute;
}

.borealis-loading-overlay {
    @apply top-0;
    @apply bottom-0;
    @apply w-full;
    @apply h-screen;
    @apply mx-auto;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply content-center;
    @apply items-center;
    @apply fixed;
    @apply bg-primary-dark;
    @apply bg-opacity-60;
    @apply z-loading;
    @apply text-text-primary;
}

.borealis-loading-task-list {
    @apply text-center;
    @apply content-center;
    @apply text-text-primary;
    @apply font-extrabold;
    @apply text-sm;
    @apply flex;
    @apply flex-col;
    @apply mt-5;
}

.borealis-loading-task {
    @apply flex;
    @apply flex-row;
}

.borealis-notification-overlay {
    @apply top-0;
    @apply bottom-0;
    @apply right-0;
    @apply w-fit;
    @apply h-screen;
    @apply flex;
    @apply flex-col;
    @apply justify-end;
    @apply content-end;
    @apply items-end;
    @apply fixed;
    @apply z-notification;
}

.borealis-notifications-list {
    @apply content-end;
    @apply flex;
    @apply flex-col;
    @apply mr-2;
    @apply mb-2;
    @apply space-y-2;
}

.borealis-message-notification-container {
    @apply bg-primary-dark;
    @apply opacity-75;
    @apply border-2;
    @apply rounded;
    @apply border-primary-medium;
    @apply text-text-secondary;
    @apply p-2;
    @apply text-sm;
}

.borealis-message-notification-container:hover {
    @apply opacity-100;
}

.borealis-warning-notification-container {
    @apply borealis-message-notification-container;
    @apply bg-secondary-dark;
    @apply border-secondary-medium;
    @apply text-text-active;
}

.borealis-error-notification-container {
    @apply borealis-message-notification-container;
    @apply bg-error-darker;
    @apply border-error-dark;
    @apply text-text-error;
}

.borealis-notification-title-container {
    @apply flex;
    @apply flex-row;
    @apply justify-between;
}

.borealis-notification-title {
    @apply flex;
    @apply flex-row;
    @apply space-x-2;
}

.borealis-notification-title-text {
    @apply font-extrabold;
}

.borealis-notification-content {

}

.borealis-form-container {
    @apply flex;
    @apply flex-col;
    @apply mx-auto;
    @apply z-control-panel;
    @apply bg-primary-dark;
    @apply rounded;
    @apply shadow-md;
    @apply p-8;
    @apply w-1/4;
    @apply min-w-fit;
    @apply border-2;
    @apply border-primary-medium;
}

.borealis-form-row {
    @apply flex;
    @apply flex-auto;
    @apply pt-2;
    @apply pb-2;
    @apply space-x-4;
}

.borealis-control-panel-container {
    @apply flex;
    @apply flex-col;
    @apply z-control-panel;
    @apply bg-primary-dark;
    @apply rounded;
    @apply shadow-md;
    @apply border-2;
    @apply border-primary-medium;
    @apply basis-1/3;
    @apply mt-2;
    @apply ml-2;
    @apply relative;
    @apply max-h-full;
    @apply w-fit;
    @apply overflow-y-auto;
    @apply opacity-100;
    @apply bg-opacity-80;
    @apply pl-1;
    @apply pr-1;
}

.borealis-control-panel-subcontainer {
    @apply flex;
    @apply flex-col;
    @apply w-full;
}

.borealis-control-panel-row {
    @apply flex;
    @apply flex-auto;
    @apply pt-2;
    @apply pb-2;
    @apply space-x-2;
}

.borealis-control-panel-row-group {
    @apply flex;
    @apply flex-auto;
    @apply flex-row;
    @apply space-x-2;
}

.borealis-chat-panel-container {
    @apply flex;
    @apply flex-col;
    @apply z-chat-panel;
    @apply bg-primary-dark;
    @apply rounded;
    @apply shadow-md;
    @apply border-2;
    @apply border-primary-medium;
    @apply w-96;
    @apply overflow-hidden;
    @apply h-screen;
    @apply absolute;
    @apply top-0 right-0;
    @apply opacity-100;
    @apply bg-opacity-80;
}

.borealis-chat-panel-header-container {
    @apply ml-6;
    @apply mr-6;
    @apply mt-8;
    @apply pb-2;
    @apply border-b-2;
    @apply border-accent-medium;
}

.borealis-chat-panel-action-container {
    @apply z-chat-panel;
    @apply absolute;
    @apply top-2 right-2;
    @apply bg-primary-dark;
    @apply flex;
    @apply flex-row-reverse;
}

.borealis-chat-panel-action-container-collapsed {
    @apply borealis-chat-panel-action-container;
}

.borealis-chat-panel-content-container {
    @apply mt-4;
    @apply ml-6;
    @apply mr-6;
    @apply h-full;
    @apply overflow-clip;
    @apply overflow-y-scroll;
    @apply space-y-1;
}

.borealis-chat-panel-input-container {
    @apply relative;
    @apply flex;
    @apply flex-row;
    @apply pt-3;
    @apply px-3;
}

.borealis-chat-panel-player-text {
    @apply text-sm;
    @apply font-bold;
    @apply text-text-secondary;
}

.borealis-chat-panel-player-list-container {
    @apply absolute;
    @apply text-left;
    @apply font-extrabold;
    @apply content-center;
    @apply items-center;
    @apply align-middle;
    @apply p-2;
    @apply bg-primary-light;
    @apply border-2;
    @apply border-primary-lighter;
    @apply rounded;
    @apply shadow-md;
    @apply w-5/6;
    @apply mx-auto;
}

.borealis-chat-panel-player-entry {
    @apply text-text-primary;
}

.borealis-chat-panel-own-message-container {
    @apply border-2;
    @apply rounded;
    @apply bg-primary-medium;
    @apply bg-opacity-50;
    @apply border-accent-dark;
    @apply p-1;
    @apply ml-3;
}

.borealis-chat-panel-other-message-container {
    @apply borealis-chat-panel-own-message-container;
    @apply border-secondary-dark;
    @apply ml-0;
    @apply mr-3;
}

.borealis-chat-panel-message-info {
    @apply flex;
    @apply flex-row;
}

.borealis-chat-panel-message-info-username-own {
    @apply font-bold;
    @apply text-text-active;
}

.borealis-chat-panel-message-info-username-other {
    @apply font-bold;
    @apply text-text-primary;
}

.borealis-chat-panel-message-player-info {
    @apply text-text-secondary;
    @apply font-bold;
    @apply text-sm;
    @apply pl-1;
    @apply align-text-bottom;
}

.borealis-chat-panel-message-content {
    @apply text-text-primary;
    @apply font-normal;
}

.borealis-chat-panel-whisper-content {
    @apply text-text-whisper;
    @apply italic;
}

.borealis-chat-panel-command-content {
    @apply text-text-action;
    @apply italic;
}

.borealis-chat-panel-error-content {
    @apply text-text-error;
    @apply font-bold;
}

.borealis-dice-roll-button-container {
    @apply w-10;
}

.borealis-dice-roll-selector-container {
    @apply absolute;
    @apply z-chat-panel-roll;
    @apply border-2;
    @apply border-accent-dark;
    @apply rounded;
    @apply shadow-md;
    @apply flex;
    @apply flex-col;
    @apply bg-primary-dark;
    @apply text-text-primary;
}

.borealis-text-input-container {
    @apply flex;
    @apply flex-row;
    @apply flex-auto;
}

.borealis-text-input {
    @apply text-text-primary;
    @apply placeholder-primary-light;
    @apply rounded;
    @apply text-base;
    @apply justify-center;
    @apply bg-primary-darker;
    @apply pl-1;
    @apply pr-1;
    @apply h-8;
    @apply flex;
    @apply mx-auto;
    @apply grow;
    @apply border-2;
    @apply border-primary-medium;
}

.borealis-text-input:disabled {
    @apply opacity-50;
}

.borealis-text-input:focus:enabled {
    @apply border-accent-medium;
}

.borealis-number-input-container {
    @apply flex;
    @apply flex-row;
    @apply flex-auto;
}

.borealis-number-input {
    @apply text-text-primary;
    @apply placeholder-primary-light;
    @apply rounded;
    @apply text-base;
    @apply justify-center;
    @apply bg-primary-darker;
    @apply pl-1;
    @apply pr-1;
    @apply h-8;
    @apply flex;
    @apply mx-auto;
    @apply grow;
    @apply border-2;
    @apply border-primary-medium;
}

.borealis-number-input:disabled {
    @apply opacity-50;
}

.borealis-number-input:focus:enabled {
    @apply border-accent-medium;
}

.borealis-checkbox-input-container {
    @apply flex;
    @apply flex-row;
    @apply flex-auto;
    @apply items-center;
}

.borealis-checkbox-input-container-disabled {
    @apply borealis-checkbox-input-container;
    @apply opacity-50;
}

.borealis-checkbox-input {
    @apply opacity-0;
    @apply absolute;
    @apply w-8;
    @apply h-8;
}

.borealis-checkbox-input:checked {
    @apply border-primary-light;
    @apply block;
}

.borealis-checkbox-input-override {
    @apply bg-primary-darker;
    @apply border-2;
    @apply rounded;
    @apply border-primary-medium;
    @apply w-8;
    @apply h-8;
    @apply flex;
    @apply flex-shrink-0;
    @apply justify-center;
    @apply items-center;
    @apply focus-within:border-accent-medium;
}

.borealis-checkbox-input-override-focus {
    @apply borealis-checkbox-input-override;
    @apply border-accent-medium;
}

.borealis-checkbox-icon-inactive {
    @apply hidden;
}

.borealis-checkbox-icon-active {
    @apply text-text-primary;
}

.borealis-input-label {
    @apply text-text-primary;
    @apply justify-start;
}

.borealis-action-button {
    @apply flex;
    @apply flex-row;
    @apply space-x-4;
    @apply bg-transparent;
    @apply rounded;
    @apply border-2;
    @apply border-primary-medium;
    @apply text-text-primary;
    @apply min-w-[33px];
    @apply min-h-[33px];
    @apply content-center;
    @apply align-middle;
    @apply text-center;
    @apply items-center;  
}

.borealis-action-button:disabled {
    @apply text-text-secondary;
}

.borealis-action-button:hover:enabled {
    @apply bg-primary-medium;
    @apply border-primary-light;
    @apply text-text-active;
}

.borealis-action-button:active:enabled {
    @apply bg-primary-medium;
    @apply border-secondary-lighter;
    @apply text-text-clicked;
}

.borealis-action-button:focus {
    @apply border-accent-medium;
}

.borealis-action-button-content {
    @apply mx-auto;
    @apply flex;
    @apply flex-row;
}

.borealis-toggle-button {
    @apply flex;
    @apply flex-row;
    @apply space-x-4;
    @apply bg-transparent;
    @apply text-text-primary;
    @apply min-w-[33px];
    @apply min-h-[33px];
    @apply content-center;
    @apply align-middle;
    @apply text-center;
    @apply items-center;
}

.borealis-toggle-button:hover {
    @apply text-text-active;
}

.borealis-toggle-button:active {
    @apply text-text-clicked;
}

.borealis-toggle-button-active {
    @apply borealis-toggle-button;
    @apply text-accent-dark;
}

.borealis-toggle-button-content {
    @apply mx-auto;
    @apply flex;
    @apply flex-row;
}

.borealis-tooltip {
    @apply text-text-primary;
    @apply text-sm;
    @apply italic;
}

.borealis-tooltip a {
    @apply underline;
    @apply not-italic;
    @apply font-extrabold;
    @apply text-accent-medium;
}

.borealis-tooltip a:hover {
    @apply text-accent-light;
}

.borealis-tooltip a:active {
    @apply text-accent-lighter;
}

.borealis-action-text-input-button {
    @apply flex;
    @apply flex-row;
    @apply space-x-4;
    @apply bg-transparent;
    @apply rounded-none;
    @apply h-8;
    @apply w-8;
    @apply -ml-9;
    @apply text-text-primary;
    @apply min-w-[33px];
    @apply min-h-[33px];
    @apply content-center;
    @apply align-middle;
    @apply text-center;
    @apply items-center;
}

.borealis-action-text-input-button:disabled {
    @apply opacity-75;
}

.borealis-action-text-input-button:hover {
    @apply text-text-active;
}

.borealis-aciton-text-input-button:active {
    @apply text-text-clicked;
}

.borealis-action-text-input-button-content {
    @apply mx-auto;
    @apply flex;
    @apply flex-row;
}

.borealis-select-container {
    @apply flex;
    @apply flex-row;
    @apply flex-auto;
    @apply items-center;
}

.borealis-select {
    @apply text-text-primary;
    @apply rounded;
    @apply text-base;
    @apply justify-center;
    @apply bg-primary-darker;
    @apply pl-1;
    @apply pr-1;
    @apply h-8;
    @apply flex;
    @apply mx-auto;
    @apply grow;
    @apply border-2;
    @apply border-primary-medium;
}

.borealis-text-input-selector-container {
    @apply flex;
    @apply flex-col;
}

.borealis-text-input-options-container {
    @apply text-text-secondary;
    @apply bg-primary-darker;
    @apply text-left;
    @apply rounded;
    @apply flex;
    @apply flex-col;
    @apply overflow-scroll;
    @apply fixed;
    @apply mt-8;
    @apply w-60;
    @apply divide-y;
    @apply divide-primary-lighter;
    @apply max-h-80;
}

.borealis-text-input-option {
    @apply px-1;
    @apply py-2;
    @apply text-base;
    @apply w-60;
    @apply flex;
    @apply flex-row;
    @apply space-x-2;
}

.borealis-text-input-option:hover {
    @apply bg-primary-medium;
}

.borealis-text-input-option:active {
    @apply border-primary-light;
}

.borealis-text-input-option-selected {
    @apply borealis-text-input-option;
    @apply text-accent-dark;
    @apply border-primary-light;
}

.borealis-text-input-option-icon {
    @apply w-fit;
}

.borealis-text-input-option-caption {
    
}

.borealis-token-image {
    @apply relative;
    @apply pointer-events-none;
    @apply rounded-full;
    @apply overflow-hidden;
    @apply mx-auto;
}

.borealis-token-image-selected {
    @apply borealis-token-image;
    @apply border-dashed;
    @apply border-accent-medium;
    @apply border-2;
}

.borealis-token-label {
    @apply text-xs;
    @apply bg-primary-darker;
    @apply bg-opacity-80;
    @apply text-text-primary;
    @apply border-2;
    @apply border-primary-dark;
    @apply p-1;
    @apply rounded;
    @apply fixed;
}

.borealis-bottom-banner-container {
    @apply z-banner;
    @apply absolute;
    @apply bottom-0;
    @apply w-full;
    @apply block;
    @apply flex;
    @apply flex-row;
    @apply text-xs;
    @apply bg-yellow-300;
    @apply text-text-whisper;
}

.borealis-bottom-banner-content {
    @apply pl-4;
    @apply pb-2;
    @apply pt-2;
    @apply font-extrabold;
    @apply underline;
    @apply align-middle;
    @apply text-center;
}

.borealis-bottom-banner-content a {
    @apply text-text-whisper;
}

.borealis-bottom-banner-content a:hover {
    @apply text-text-active;
}

.borealis-bottom-banner-content a:active {
    @apply text-text-clicked;
}

.borealis-bottom-banner-btn {
    @apply right-6;
    @apply absolute;
    @apply h-full;
}
